@media screen and (min-width: 992px) {
body{
    background-image: url("bg1.jpeg"),url("737.jpg");
    background-position: 100% 10%, bottom;
    background-repeat: no-repeat;
    background-attachment: scroll,scroll;
    background-size:900px 900px,1400px 700px;
}
}
@media screen and (max-width: 992px) {
body{
    background-image: url("bg1.jpeg"),url("blue.jpg");
    background-position: 100% 10%,bottom;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:contain,1000px 2000px;
}
}

pre{
  font-family: Roboto;
  font-size: 20px;
  color:#000066
}
.headline{
  font-family: "Verdana";
  font-size: 38px;
}
body{
    padding:0px;
    margin:0px;
}

h5{
  text-align: center;
}

.container{
    width: 100%;
}

.navbar{
    padding-top: 25px;
    height: 50px;
}
.navbar1{
    padding-top: 25px;
    height: 50px;

}
.sign
{
  color:#000066;

}

.razorpay-logo{
    height: 100%;
    width: auto;
}
.pad{
  padding: 2px;
}
.submit-one{
    height: 44px;
    width: 110px;
    background:#fff;
    color: #5f8fe9;
    line-height: 44px;
    text-align: center;
}

.align-right{
    text-align:right;
}

.align-center{
    text-align: center;
}

.menu-icon{
    height: 100%;
    width: auto;
}

.heading{
    font-size:40px;
    max-width: 320px;
    text-align: left;
}

.main-text{
    font-size:18px;
    max-width: 420px;
    text-align: left;
}

.line{
    height: 4px;
    width: 20px;
    background:#5f8fe9;
}

.text-signup{
    height: 44px;
    color: blue;
    border: 5px solid blue;
    width:40px;
}
.text{
  height:30px;
  text-align: left;
  font-family: roboto;
  font-size: 14px;
  color:black;
}

.main-text-holder{
    height: auto;
    position: absolute;
    top: 50%;
    transform:translate(0%,-50%);
}
.heading1{
    font-size:30px;
    text-align:center;
    font-family:Adam.CG Pro;
    color:blue;
}


@media screen and (max-width: 992px) {

    .only-desktop{
      display: none;
  }

  .main-text{
      font-size: 16px;
  }

  .heading{
      font-size: 28px;
  }

  .container{
      width:100%;
  }

}

@media screen and (min-width: 992px) {

  .only-mobile{
      display: none;
  }

}
