body{
    padding:0px;
    margin:0px;
    background-image: url("bg1.jpeg"),url("bg2.png");
    background-position: top right,bottom left;
    background-repeat: no-repeat,no-repeat;
    background-attachment: scroll,fixed;
    background-size:700px,200px;
    -moz-background-size:contain;
    -o-background-size:contain;
}
.container{
    width: 100%;
}

.navbar{
    padding-top: 25px;
    height: 50px;
    font-family: Roboto;
}

.razorpay-logo{
    height: 10%;
    width: auto;
}
pre{
  font-family: Roboto;
  font-size: 20px
}
h2{
  font-family: Roboto;
}
